<div
style="border-radius: 0.5em; background-color: rgba(150, 179, 193,0.5); position: absolute; right:0rem; z-index: 99999;">
<label class="toggle-check"
   style="margin-left: 4px;margin-right: auto;margin-top: auto;margin-bottom: auto;position: relative;top: 25%;">
   <span id="lb_satellite">衛照圖</span>
   <input type="checkbox" class="toggle-check-input" />
   <span class="toggle-check-text"></span>
</label>
</div>
<div id="popup" class="ol-popup">
<img src="\static\icon\setting.png">
</div>