<h2>帳戶資料</h2>
<div class="container" style="margin-right: 40px;margin-bottom: 0px;margin-left: 15px;">

    <div class="container-fluid p-0">

        <div class="row">
            <div class="col-md-3 col-xl-2">

                <div class="card">
                    <div class="list-group list-group-flush" role="tablist">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account" role="tab">帳戶設定</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">密碼設定</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">刪除帳戶</a>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-xl-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="account" role="tabpanel">

                        <div class="card">
                            <div class="card-header">

                                <h5 class="card-title mb-0">公開資料</h5>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="mb-3">
                                                <label class="form-label" for="inputUsername">帳號名稱</label>
                                                <input type="text" class="form-control" id="inputUsername" placeholder="Account">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="inputUsername">描述</label>
                                                <textarea rows="2" class="form-control" id="inputBio" placeholder="Tell something about yourself"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-center">
                                                <img alt="Charles Hall" src="images/avatars/avatar.jpg" class="rounded-circle img-responsive mt-2" style="width: 128px;height: 128px;" />
                                                <div class="mt-2">
                                                    <span class="btn btn-primary"><i class="fas fa-upload"></i> 上傳</span>
                                                </div>
                                                <small>For best results, use an image at least 128px by 128px in .jpg format</small>
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">更變儲存</button>
                                </form>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">

                                <h5 class="card-title mb-0">個人資料</h5>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="inputFirstName">姓氏</label>
                                            <input type="text" class="form-control" id="inputFirstName" placeholder="First name">
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="inputLastName">名字</label>
                                            <input type="text" class="form-control" id="inputLastName" placeholder="Last name">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="inputEmail4">信箱</label>
                                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="inputAddress">地址1</label>
                                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="inputAddress2">地址2</label>
                                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="inputCity">城市</label>
                                            <input type="text" class="form-control" id="inputCity" placeholder="Taipei">
                                        </div>
                                        <div class="mb-3 col-md-4">
                                            <label class="form-label" for="inputState">國家</label>
                                            <select id="inputState" class="form-control">
                                                <option selected>Choose...</option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-md-2">
                                            <label class="form-label" for="inputZip">郵區編號</label>
                                            <input type="text" class="form-control" id="inputZip">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">更變儲存</button>
                                </form>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="password" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">密碼資訊</h5>

                                <form>
                                    <div class="mb-3">
                                        <label class="form-label" for="inputPasswordCurrent">目前密碼</label>
                                        <input type="password" class="form-control" id="inputPasswordCurrent" placeholder="Current Password">
                                        <small><a href="#">Forgot your password?</a></small>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="inputPasswordNew">新密碼</label>
                                        <input type="password" class="form-control" id="inputPasswordNew" placeholder="New Password">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="inputPasswordNew2">驗證密碼</label>
                                        <input type="password" class="form-control" id="inputPasswordNew2" placeholder="Verify Password">
                                    </div>
                                    <button type="submit" class="btn btn-primary">更變儲存</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>