<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,emial=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- start iOS Safari Viewport -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!-- <script defer type="module" src="js/filter_condition.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


    <link href="static/fontawesome/css/all.css" rel="stylesheet">
    <script defer src="static/fontawesome/js/fontawesome.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->

    <!-- <script src="js/official/daterangepicker.js"></script> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="js/official/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="css/official/bootstrap-multiselect.min.css" type="text/css" />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <style>
        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
        
        .multiselect-container {
            position: absolute;
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 100px;
            overflow: auto;
        }
        
        .list-group-item {
            position: relative;
            display: block;
            padding: .05rem 1.25rem;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, .125);
        }
        
        .list-group-item-heading {
            padding: .2rem .25rem;
        }
        
        #content {
            width: 100%;
            min-height: 100%;
            transition: all 0.3s;
            padding: 0.5em;
        }
        
        .sticky-footer {
            background-color: #404448;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 64px;
            line-height: 64px;
            z-index: 0;
        }
        
        .card:not(:first-child) {
            margin-top: 0.5em;
        }
        
        #meter-container {
            padding: 0.25rem;
            display: flex;
            flex-wrap: wrap;
            background-color: #009999;
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }
        
        #meter-container .meter-col {
            padding: 10px;
            text-align: center;
            display: table;
            border-radius: 10px;
            opacity: .5;
        }
        
        #meter-container .meter-col.active {
            opacity: 1;
        }
        
        #meter-container .meter-col:hover {
            box-shadow: 0 .3rem .5rem rgba(33, 33, 33, .5);
        }
        
        #meter-container .meter-col div:first-child {
            width: 100px;
            height: 100px;
            max-width: 100px;
            max-height: 100px;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0 auto;
        }
        
        #meter-container .meter-col span {
            vertical-align: middle;
            display: table-row;
        }
        
        #meter-container .meter-col span a {
            font-size: 1.5rem;
        }
        
        #map {
            width: 100%;
            min-height: 300px;
            height: calc(100vh * 0.7);
        }
        
        #echart_demo {
            width: 100%;
            height: calc(100vh * 0.6);
        }
    </style>

</head>

<body>
    <div style="width: 100%;height: 100%;background-color: aquamarine;">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btn1">
            Launch demo modal
          </button>

    </div>

    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalScrollableTitle">條件設定</h3>
                </div>
                <div class="modal-body">
                    <div class="container-fluid bd-example-row">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-12 col-md-auto mr-auto">災情數量統計</div>
                                    <div class="col-12 col-md-auto ml-auto"><small>最後更新時間:&nbsp;<span class="update_time"></span></small></div>
                                </div>
                            </div>
                            <div id="meter-container">
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col" data-original-title="2021-11-09: 0 件<br/>2021-11-10: 0 件<br/>2021-11-11: 0 件<br/>2021-11-12: 0 件<br/>2021-11-13: 0 件<br/>2021-11-14: 0 件<br/>2021-11-15: 0 件">
                                    <div style="background-image: url(images/icons/路樹災情.png);" title="路樹災情"></div><span>路樹災情</span><span><a data-meter="路樹災情">0</a>件</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col">
                                    <div style="background-image: url(images/icons/廣告招牌災情.png);" title="廣告招牌災情"></div> <span>廣告招牌災情</span> <span><a data-meter="廣告招牌災情">0</a>件</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col">
                                    <div style="background-image: url(images/icons/道路、隧道災情.png);" title="道路、隧道災情"></div> <span>道路、隧道災情</span> <span><a data-meter="道路、隧道災情">0</a>件</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col">
                                    <div style="background-image: url(images/icons/橋梁災情.png);" title="橋梁災情"></div> <span>橋梁災情</span> <span><a data-meter="橋梁災情">0</a>件</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col">
                                    <div style="background-image: url(images/icons/鐵路、高鐵及捷運災情.png);" title="鐵路、高鐵及捷運災情"></div> <span>鐵路、高鐵及捷運災情</span> <span><a data-meter="鐵路、高鐵及捷運災情">0</a>件</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col">
                                    <div style="background-image: url(images/icons/積淹水災情.png);" title="積淹水災情"></div> <span>積淹水災情</span> <span><a data-meter="積淹水災情">0</a>件</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col">
                                    <div style="background-image: url(images/icons/土石災情.png);" title="土石災情"></div> <span>土石災情</span> <span><a data-meter="土石災情">0</a>件</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col">
                                    <div style="background-image: url(images/icons/建物損毀.png);" title="建物損毀"></div> <span>建物損毀</span> <span><a data-meter="建物損毀">0</a>件</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col">
                                    <div style="background-image: url(images/icons/水利設施災害.png);" title="水利設施災害"></div> <span>水利設施災害</span> <span><a data-meter="水利設施災害">0</a>件</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col">
                                    <div style="background-image: url(images/icons/民生、基礎設施災害.png);" title="民生、基礎設施災害"></div> <span>民生、基礎設施災害</span> <span><a data-meter="民生、基礎設施災害">0</a>件</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col">
                                    <div style="background-image: url(images/icons/車輛因災損毀.png);" title="車輛因災損毀"></div> <span>車輛因災損毀</span> <span><a data-meter="車輛因災損毀">0</a>件</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col">
                                    <div style="background-image: url(images/icons/環境汙染.png);" title="環境汙染"></div> <span>環境汙染</span> <span><a data-meter="環境汙染">0</a>件</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col">
                                    <div style="background-image: url(images/icons/火災.png);" title="火災"></div> <span>火災</span> <span><a data-meter="火災">0</a>件</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-6 col-lg-2 meter-col">
                                    <div style="background-image: url(images/icons/其他.png);" title="其他"></div> <span>其他</span> <span><a data-meter="其他">0</a>件</span>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-primary">確認</button>
                </div> -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalScrollableDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalScrollableTitle">條件設定</h3>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-primary">確認</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $("#btn1").click(function() {
        $("#exampleModalScrollable").modal("show")
    })

    $(function() {
        $('#one_day_rain').change(function() {
            //$('#console-event').html('Toggle: ' + $(this).prop('checked'))
            console.log('Toggle: ' + $(this).prop('checked'))
        })
    })
</script>


</html>