a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

.tab .nav-tabs {
    border-bottom: 0 none;
}

.tab .nav-tabs li {
    margin-right: 10px;
}

.tab .nav-tabs li a {
    font-size: 16px;
    color: #333;
    padding: 18px 25px;
    border: none;
    border-radius: 4px;
    background: #efefef;
    text-transform: uppercase;
    position: relative;
}

.tab .nav-tabs li.active a:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #777979;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover {
    border: none;
    background: #777979;
    color: #fff;
    transition: all 0.20s linear 0s;
}

.tab .tab-content {
    font-size: 15px;
    color: #808080;
    border: 0 none;
    line-height: 25px;
    padding: 5px 0;
    margin-top: 15px;
}

.tab .tab-content h3 {
    margin-top: 10px;
    font-size: 24px;
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
        width: 100%;
        margin-bottom: 20px;
    }
    .tab .nav-tabs li a {
        padding: 10px;
    }
    .tab .nav-tabs li.active a:after {
        border: none;
    }
    .tab .tab-content {
        margin-top: 5px;
    }
    .container {
        margin-top: 1%;
    }
}

.mainformate {
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.mainformate h2 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 1%;
}

.map {
    height: 100%;
    width: 100%;
}

.ol-popup {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.68);
    box-shadow: 0 1px 4px rgb(0 0 0 / 50%);
    /* padding: 15px; */
    border-radius: 10px;
    border: 1.5px solid rgb(82 127 226 / 48%);
    bottom: 12px;
    left: -50px;
    min-width: 400px;
    /* 280 */
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    font-family: auto;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.toggle-check-input {
    width: 1px;
    height: 1px;
    position: absolute;
}

.toggle-check-text {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    background: #CCC;
    padding: 0.25em 0.5em 0.25em 2em;
    border-radius: 0.5em;
    min-width: 2em;
    max-width: 4em;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.15s;
}

.toggle-check-text:after {
    content: ' ';
    display: block;
    background: #FFF;
    width: 1.1em;
    height: 1.1em;
    border-radius: 1em;
    position: absolute;
    left: 0.3em;
    top: 0.35em;
    transition: left 0.15s, margin-left 0.15s;
}

.toggle-check-text:before {
    content: 'No';
}

.toggle-check-input:checked~.toggle-check-text {
    background: #8ad869;
    padding-left: 0.5em;
    padding-right: 2em;
}

.toggle-check-input:checked~.toggle-check-text:before {
    content: 'Yes';
}

.toggle-check-input:checked~.toggle-check-text:after {
    left: 100%;
    margin-left: -1.4em;
}

#online-header:hover {
    background-color: rgb(50, 111, 121);
    color: white;
}

#online-header {
    background-color: rgba(50, 111, 121, 0.2);
    color: #858788;
}


/* Scrollbar Styling */

.scrollbar-style::-webkit-scrollbar {
    width: 10px;
}

.scrollbar-style::-webkit-scrollbar-track {
    background-color: #ffffff;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.scrollbar-style::-webkit-scrollbar-thumb {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: rgba(118, 118, 118, 0.2);
}

.subfixedElement {
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}

.fixedElement {
    position: fixed;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 100;
}

@media screen and (min-width:565px) {
    .footer {
        display: none;
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    /* transform: rotate(-90deg); */
    position: absolute;
    right: 6px;
    top: .8em;
}


/* .dropdown-submenu .dropdown-menu {
    top: 100%;
    right: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
} */